<mat-card [style.align-self]="(core.$handsetObserver | async) ? 'stretch' : null">
  <mat-card-title-group>
    <mat-card-title>DynaEats</mat-card-title>
    <mat-card-subtitle>Login</mat-card-subtitle>
    <img mat-card-avatar src="assets/logo.png">
  </mat-card-title-group>
  <mat-card-content autocomplete="off" [formGroup]="form" (keydown.enter)="form.valid && onSubmit()" appWrap wrapMargin="0">
      <div appFlex basis="100">
        <mat-form-field autocomplete="off" appearance="outline" appGrow growMargin="0">
          <mat-label>Username</mat-label>
          <input id="username" autocomplete="off" type="search" matInput formControlName="username">
        </mat-form-field>
      </div>
      <div appFlex basis="100">
        <mat-form-field autocomplete="off" appearance="outline" appGrow growMargin="0">
          <mat-label>Password</mat-label>
          <input id="password" autocomplete="off" matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
  </mat-card-content>
  <app-buttons>
    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSubmit()">
      Submit
    </button>
  </app-buttons>
</mat-card>