<br/><br/><br/><br/>
<h1 class="marginLeft">Stock Available ({{cuisine}})</h1>
<table class="requestTable">
    <thead>
        <tr>
            <th class="rowWidth" *ngFor="let head of headElements">{{head}} </th>
        </tr>
    </thead>
    <tr class="rowColor" *ngFor="let data of mockData">
        <td class="rowWidth">{{data['name']}}</td>
        <td class="rowWidth">{{data['category']}}</td>
        <td class="rowWidth">{{data['qtyAvailable']}} {{data['name'] === 'Olive' || data['name'] === 'Mustard' ? 'Ltr' : 'Kg'}}</td>
    </tr>
</table><br/><br/>