@import '~@angular/material/theming';

$theme-typography: mat-typography-config(
  $title: mat-typography-level(18px, 30px, 400)
);
@include mat-core($theme-typography);

$theme-light-primary: mat-palette($mat-blue, 700);
$theme-light-accent: mat-palette($mat-gray, 600);
$theme-light-warn: mat-palette($mat-blue);
$theme-light-theme: mat-light-theme($theme-light-primary, $theme-light-accent, $theme-light-warn);
.theme-light {
  @include angular-material-theme($theme-light-theme);
}

$theme-dark-primary: mat-palette($mat-blue, 700);
$theme-dark-accent: mat-palette($mat-gray, 600);
$theme-dark-warn: mat-palette($mat-deep-orange);
$theme-dark-theme: mat-dark-theme($theme-dark-primary, $theme-dark-accent, $theme-dark-warn);
.theme-dark {
  @include angular-material-theme($theme-dark-theme);
}

.app-dialog .mat-dialog-container {
  padding-bottom: 15px;
  padding-top: 15px;
}


.mat-tooltip {
  font-size: 14px;
}
