:host {
  display: flex;

  mat-form-field {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
  }

  input {
    cursor: default;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 5px;
  }

}
